.reveal 

.slide-logo{
  display: block;
  position: fixed;
  bottom: unset !important;
  right: unset !important;
  top: 5px;
  left: 12px;
  height: 50px !important;
  width: unset  !important;
  max-width: unset !important;
  max-height: unset !important;
}

/*
.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

.twocolumn {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   text-align: left;
}


.final {
  bottom: 25px;
  text-align: center;
  font-size: 50px;
}
*/

.reveal #slide-logo {
  cursor: pointer;
}

.reveal a {
  text-decoration: underline;
  color: #33bad8;
  cursor: pointer;
}

.reveal a:visited {
  color: #5678ac;
}



.reveal ul ul {
  list-style-type: circle;
}

